body {
    
    margin: 0;
    padding: 0;
    width: 100vw;
    box-sizing: border-box;
    overflow-x: hidden;    

}

header {

    background: linear-gradient(180deg, #0A2239 70.75%, rgba(10, 34, 57, 0.86) 88.36%);
    box-shadow: 0px 30px 15px 0px rgba(10, 34, 57, 0.30);
    padding: 50px;
    display: flex;
    flex-direction: row;
    position: sticky;
    top: 0px;
    justify-content: center;

}

div {

    width: 20px;
    height: 20px;
    flex-direction: column;
    
}

div > img {

    padding: 5px;

    
}

.logo {

    display: flex;
    flex: 1;
    margin-top: -35px;

}

.logo img {
    
    width: 151px;
    height: 75px;
    margin-bottom: -100px;
    display: block;
    flex: 0 0 auto;
    padding-bottom: 100px;
    

}

.icon{

    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    margin-top: -15px;
    margin-left: -100px;
    padding: -5px;

}

.icon img {

    width: 25px;
    height: 25px;
    margin-right: 15px;
    display: block;
    flex: 0 0 auto;
    padding: 6px;  

}

.mid{                   /* Bordure */

    border: 3px solid #0A2239;
    width: 500px;
    height: 400px;
    flex-shrink: 0;
    margin: auto;
    padding: 20px;
    text-align: center;
    display: inline-block;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 35%;
    bottom: 25%;
    border-radius: 10px;
    

}

.mid h1{            /* Titre du site */

    margin-bottom: 20px;

}

.mid form{

    text-align: left;
    flex-direction: column;
    align-items: center;

}

input[type="email"],
input[type="password"] {    /* Text Area pour email et mots de passe */
    
    width: 425px;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 10px;
    text-align: center;
    margin: auto;
    margin-left: 8%;

}

.forget{                         /* Mots de passe oublié ? */

    display: block;
    margin-top: 1em;
    text-align: right;
    text-decoration: none;
    color: #0A2239;

}

input[type="reset"],
input[type="submit"] {          /* Bouton Annuler et Envoyer */
   
    margin-top: 1em;
    text-align: center;
    width: 35%;
    flex-direction: row;
    background-color: white; /* Couleur de fond du bouton */
    border: none;
    color: #0A2239; /* Couleur du texte du bouton */
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s; /* Durée de l'effet de survol */
    border-radius: 5px;

}

input[type="reset"] {

    margin-right: 15%; /* Espace entre les deux boutons */
    text-align: center;

}

input[type="submit"] {

    margin-left: 1%; /* Espace entre les deux boutons */
    text-align: center;

}

input[type="reset"]:hover { /* Effets de survole de la souris sur le bouton */

    background-color: #0A2239;
    color: white;

}

input[type="submit"]:hover {    /* Effets de survole de la souris sur le bouton */

    background-color: #0A2239;
    color: white;

}

.first {

    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 40%;
    width: 100%;
    height: 50px;
    text-decoration: none;
    color: #F0F6F6;
    border: 2px solid #0A2239 ;
    width: 250px;
    height: 20px;
    flex-shrink: 0;
    margin-left: 800px;
    margin-top: 800px; 
    background-color: #0A2239;

}