body {
    
    margin: 0;
    padding: 0;
    width: 100vw;
    box-sizing: border-box;
    overflow-x: hidden;    

}

header {

    background: linear-gradient(180deg, #0A2239 70.75%, rgba(10, 34, 57, 0.86) 88.36%);
    box-shadow: 0px 30px 15px 0px rgba(10, 34, 57, 0.30);
    padding: 50px;
    display: flex;
    flex-direction: row;
    position: sticky;
    top: 0px;
    justify-content: center;

}

div {

    width: 20px;
    height: 20px;
    flex-direction: column;
    
}

div > img {

    padding: 5px;

    
}

.logo {

    display: flex;
    flex: 1;
    margin-top: -35px;

}

.logo img {
    
    width: 151px;
    height: 75px;
    margin-bottom: -100px;
    display: block;
    flex: 0 0 auto;
    padding-bottom: 100px;
    

}

.icon{

    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    margin-top: -15px;
    margin-left: -100px;
    padding: -5px;

}

.icon img {

    width: 25px;
    height: 25px;
    margin-right: 15px;
    display: block;
    flex: 0 0 auto;
    padding: 6px;  

}


.mid h1{            /* Titre du site */

    margin-bottom: 20px;

}

.mid form{

    text-align: left;
    flex-direction: column;
    align-items: center;

}

input[type="password"] {    /* Text Area pour email et mots de passe */
    
    width: 425px;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 10px;
    text-align: center;
    margin: auto;
    margin-left: 8%;

}

.forget{                         /* Mots de passe oublié ? */

    display: block;
    margin-top: 1em;
    text-align: right;
    text-decoration: none;
    color: #0A2239;

}


#adresse {
    width: 425px;
    box-sizing: border-box;
    margin: auto;
    margin-left: 8%;
    margin-top: 10%;
    padding-bottom: 10px;
    
}

.mid{                   /* Bordure */

    border: 3px solid #0A2239;
    width: 500px;
    height: 400px;
    flex-shrink: 0;
    margin: auto;
    padding: 20px;
    text-align: center;
    display: inline-block;
    flex-direction: column;
    position: absolute;
    left: 35%;
    bottom: 25%;
    border-radius: 10px;
    

}

div > .second {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 10%;
    text-decoration: none;
    color: #F0F6F6;
    border: 8px solid #0A2239 ;
    border-radius: 5px;
    width: 150px;
    height: 20px;
    background-color: #0A2239;
    margin-left: 34%;
   
}

div > p {
    text-align: start;
    margin-left: 40px;
    margin-right: 40px;
}